main {
    max-width: 1219px;
    padding: 0px 55px;
    margin: 0px auto;
    box-sizing: border-box;
    
}

header {
    background-color: #007E68;
    padding: 10px 0px 10px 0px;
    height: 84px;
    position: fixed;
    min-width: 100%;
    max-width: 3000px;
    top: 0;
    margin: 0px auto;
    
    
}

.clearfix {
    clear: both;
}

.logo {
    background-image: url("img/external.jpeg");
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    line-height: 84px;
    vertical-align: middle;
    margin: 15px 10px 0px 20px;
    float: left;
    
    
}

span {
    margin: 3px;
    color: white;
    line-height: 84px;
    vertical-align: middle;
    font-size: 20px;
}

.span {
    float: left;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    text-align: right;
    float: right;
    margin: 0px 20px;
}

.background {
    height: 403px;
    background-image: url("piedPiper/image-8.png");
}

h1 {
    color: white;
    text-align: center;
    /* padding-top: 150px; */
    font-size: 72px;
    line-height: 403px;
    
}

p {
    font-size: 32px;
    text-align: center;

}

h2 {
    color: #007E68;
    font-size: 64px;
    text-align: center;
}

.img-2 {
    padding: 128px 0px;
    background-image: url("piedPiper/image-9.png");
    text-align: center;
    /* padding: 350px 0px 0px; */
    background-size: cover;
    background-position: center;
    
}

.logo-2 {
    float: left;
    margin-right: 15px;
}

figure {
    padding: 24px;
    min-width: 250px;
    min-height: 259px;
    /* width: 350px;
    height: 259px; */
    margin: 0px;
    padding: 24px 50px 0px;
}

.brothers {
    
    /* font-size: 18px;
    display: inline-block;
    text-align: center; */

}

strong {
    color: #007E68;
    font-size: 24px;
}

.mybrothers {
    margin: 0px auto;
    
}

footer {
    background-color: #333333;
    height: 176px;
    
}

.footer {
    padding: 50px 0px;
    margin: 0px auto;
    color: white;
    font-size: 18px;
    width: 840px;

}

.bro {
    /* padding: 0px auto;
    display: inline-block;
    margin: 0px 70px; */
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
   
}

@media screen and (max-width: 650px) {
    a, .span {
        display: inline-block;
        float: none;
    }

    header {
        height: auto;
    }

    .nav, nav {
        float: none;
        text-align: left;
    }
    
    .logo {
        margin-left: 210px;
    }

    main {
        padding: 0px 15px;
    }
}